@using chefsNDishes.Models
@model NewDishView

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>New Dish</title>
    </head>
    <body>
        <h1>Add a Dish!</h1>
        <a href="/dishes">Home</a>

        <form asp-action="CreateDish" asp-controller="Home" method="POST">

            <span asp-validation-for="newDish.Name"></span>
            <label asp-for="newDish.Name">Name</label>
            <input asp-for="newDish.Name">

            <span asp-validation-for="newDish.Calories"></span>
            <label asp-for="newDish.Calories">Number of Calories</label>
            <input asp-for="newDish.Calories">

            <span asp-validation-for="newDish.Description"></span>
            <label asp-for="newDish.Description">Description</label>
            <textarea asp-for="newDish.Description"></textarea>

            <span asp-validation-for="newDish.ChefId"></span>
            <label asp-for="newDish.ChefId">Chef</label>
            <select asp-for="newDish.ChefId">
                @{
                    foreach(Chef chef in Model.Chefs)
                    {
                        <option value="@chef.ChefId">@chef.FirstName @chef.LastName</option>
                    }
                }
            </select>

            <span asp-validation-for="newDish.Tastiness"></span>
            <label asp-for="newDish.Tastiness">Tastiness</label>
            <select asp-for="newDish.Tastiness">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <input type="submit" value="Add Dish">

        </form>
    </body>
</html>